<div class="row">
    <div class="col">
        <h3>SHELVES</h3>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-primary" (click)="openModal(create)" *ngIf="role == 1">ADD SHELVE</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-responsive-sm" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Books</th>
                    <th *ngIf="role == 1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shelve of allshelves" >
                    <td>{{shelve.name}}</td>
                    <td><span *ngFor="let book of shelve.books">{{book.name}}, </span></td>
                    <td *ngIf="role == 1">
                        <button class="btn btn-primary" (click)="selectShelve(shelve)" (click)="openModal(update)"><i class="fas fa-edit"></i></button> | 
                        <button class="btn btn-danger" (click)="deleteShelve(shelve)" [disabled]="!continue"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #create>
        <div class="modal-header">
            <h4 class="modal-title pull-left">SHELVE ADD</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="storeShelve()" #shelveForm="ngForm" *ngIf="role == 1">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="shelve.name" type="text" class="form-control" name="name" id="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!shelveForm.form.valid && !continue">Add</button>
            </form>
        </div>
    </ng-template>
    <ng-template #update>
        <div class="modal-header">
            <h4 class="modal-title pull-left">SHELVE UPDATE</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateShelve()" #updateForm="ngForm" *ngIf="role == 1">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="updateshelve.name" type="text" class="form-control" name="name" id="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!updateForm.form.valid && !continue">Update</button>   
            </form>
        </div>
    </ng-template>
  </div>
    