<div class="row">
    <div class="col">
        <h3>BOOKS</h3>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-primary" (click)="openModal(create)" *ngIf="role == 1">ADD BOOK</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-responsive-sm" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Section</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of allbooks" >
                    <td>{{book.name}}</td>
                    <td>{{book.author.name}}</td>
                    <td>{{book.genre.name}}</td>
                    <td>{{book.shelf.name}}</td>
                    <td>{{book.stock}}</td>
                    <td *ngIf="role == 2 ">
                        <button class="btn btn-primary" (click)="borrowBook(book)" *ngIf="book.stock > 0" [disabled]="!continue"><i class="far fa-hand-rock"></i></button>
                    </td>
                    <td *ngIf="role == 1 ">
                        <button type="button" class="btn btn-primary" (click)="openModal(update)" (click)="selectBook(book)" ><i class="fas fa-edit"></i></button> | 
                        <button class="btn btn-danger" (click)="deleteBook(book)" [disabled]="!continue"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #create>
        <div class="modal-header">
            <h4 class="modal-title pull-left">BOOK ADD</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="storeBook()" #bookForm="ngForm" *ngIf="role == 1">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="newbook.name" type="text" class="form-control" name="name" id="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <select [(ngModel)]="newbook.author_id" class="form-control" name="author" id="author" #author="ngModel" required>
                            <option *ngFor="let author of allauthors" [value]="author.id">{{author.name}}</option>
                    </select>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                        Author is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select [(ngModel)]="newbook.genre_id" class="form-control" name="genre" id="genre" #genre="ngModel" required>
                            <option *ngFor="let genre of allgenres" [value]="genre.id">{{genre.name}}</option>
                    </select>
                    <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
                        Genre is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelve">Shelf</label>
                    <select [(ngModel)]="newbook.shelf_id" class="form-control" name="shelve" id="shelve" #shelve="ngModel" required>
                            <option *ngFor="let shelve of allshelves" [value]="shelve.id">{{shelve.name}}</option>
                    </select>
                    <div [hidden]="shelve.valid || shelve.pristine" class="alert alert-danger">
                        Shelf is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input [(ngModel)]="newbook.stock" type="text" class="form-control" name="stock" id="stock" #stock="ngModel" required>
                    <div [hidden]="stock.valid || stock.pristine" class="alert alert-danger">
                        Stock is required
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid && !continue">Add</button>   
            </form>
        </div>
    </ng-template>

    <ng-template #update>
        <div class="modal-header">
            <h4 class="modal-title pull-left">BOOK UPDATE</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateBook()" #updateForm="ngForm" *ngIf="role == 1">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="selectedbook.name" type="text" class="form-control" name="name" id="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <select [(ngModel)]="selectedbook.author.id" class="form-control" name="author" id="author" #author="ngModel" required>
                            <option *ngFor="let author of allauthors" [value]="author.id">{{author.name}}</option>
                    </select>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                        Author is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select [(ngModel)]="selectedbook.genre.id" class="form-control" name="genre" id="genre" #genre="ngModel" required>
                            <option *ngFor="let genre of allgenres" [value]="genre.id">{{genre.name}}</option>
                    </select>
                    <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
                        Genre is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="genre">Shelf</label>
                    <select [(ngModel)]="selectedbook.shelf.id" class="form-control" name="shelve" id="shelve" #shelve="ngModel" required>
                            <option *ngFor="let shelve of allshelves" [value]="shelve.id">{{shelve.name}}</option>
                    </select>
                    <div [hidden]="shelve.valid || shelve.pristine" class="alert alert-danger">
                        Shelf is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input [(ngModel)]="selectedbook.stock" type="text" class="form-control" name="stock" id="stock" #stock="ngModel" required>
                    <div [hidden]="stock.valid || stock.pristine" class="alert alert-danger">
                        Stock is required
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!updateForm.form.valid && !continue">Update</button>   
            </form>
        </div>
    </ng-template>
</div>