<div class="row">
    <div class="col-lg-10">
        <h3>GENRES<button type="button" class="btn btn-primary" (click)="openModal(create)" *ngIf="role == 1"><i class="fas fa-plus"></i></button></h3>
        <table class="table table-responsive-sm" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Books</th>
                    <th *ngIf="role == 1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let genre of allgenres" >
                    <td>{{genre.name}}</td>
                    <td><span *ngFor="let book of genre.books">{{book.name}}, </span></td>
                    <td *ngIf="role == 1">
                            <button class="btn btn-success" (click)="selectGenre(genre)" (click)="openModal(update)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger" (click)="deleteGenre(genre)" [disabled]="!continue"><i class="far fa-trash-alt"></i></button>      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #create>
        <div class="modal-header">
            <h4 class="modal-title pull-left">ADD GENRE</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="storeGenre()" #genreForm="ngForm" *ngIf="role == 1">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="genre.name" type="text" class="form-control" name="name" id="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!genreForm.form.valid && !continue">Add</button>
            </form>
        </div>
    </ng-template>
    <ng-template #update>
        <div class="modal-header">
            <h4 class="modal-title pull-left">UPDATE GENRE</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateGenre()" #updateForm="ngForm" *ngIf="role == 1">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="updategenre.name" type="text" class="form-control" name="name" id="name" #name="ngModel" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!updateForm.form.valid && !continue">Update</button>    
            </form>
        </div>
    </ng-template>
</div>
