<form (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group row">
      <label for="email" class="col-sm-4 col-form-label text-md-right">Email</label>

      <div class="col-md-6">
            <input id="email" type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" [(ngModel)]="user.email" #email="ngModel" [email]="true" required>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                E-Mail is required
            </div>
      </div>
  </div>

  <div class="form-group row">
      <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

      <div class="col-md-6">
            <input id="password" type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>

      </div>
  </div>


  <div class="form-group row mb-0">
      <div class="col-md-8 offset-md-4">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
            Login
          </button>
      </div>
  </div>
</form>